@{
    ViewBag.Title = "About" ;
}

@section PageBanner {
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
}

<h5>@ViewBag.Message</h5>
<p>Use this area to provide additional information.</p>
